<div class="page-content-wrapper ">

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group float-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <li class="breadcrumb-item"><a href="#">Annex</a></li>
                            <li class="breadcrumb-item"><a href="#">Category</a></li>
                            <li class="breadcrumb-item active">Add Brands</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Add Brands</h4>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="card m-b-30">
                    <div class="card-body table-responsive">
                        <label>
                            <p class="emailExstsErr text-danger"></p>
                        </label>

                        <div class="">
                            <form action="/admin/addcoupon" method="post">
                                <div class="form-group  col-md-6">
                                    <label for="example-text-input" class="col-form-label">Coupon
                                        Name</label>
                                    <div class="">
                                        <input class="form-control" type="text" id="example-text-input"
                                            name="CouponName">
                                    </div>
                                    <div class="form-group  col-md-6">
                                        <label for="example-text-input" class=" col-form-label">Starting date
                                            </label>
                                        <div class="">
                                            <input class="form-control" type="date" id="example-text-input"
                                                name="StartingDate">
                                        </div>



                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="example-text-input" class=" col-form-label">Ending Date
                                            </label>
                                        <div class="">
                                            <input class="form-control" type="date" id="example-text-input"
                                                name="EndingDate">
                                        </div>



                                    </div>
                                     <div class="form-group col-md-6">
                                        <label for="example-text-input" class=" col-form-label">Discount percentage</label>
                                        <div class="">
                                            <input class="form-control" type="number" id="example-text-input"
                                                name="DiscountPercentage">
                                        </div>



                                    </div>
                                      <div class="form-group col-md-6">
                                        <label for="example-text-input" class=" col-form-label">Amount upto</label>
                                        <div class="">
                                            <input class="form-control" type="number" id="example-text-input"
                                                name="AmountUpto">
                                        </div>



                                    </div>
                              
                                    <input type="submit" value="Add Coupon" class="btn bg-primary text-white mt-3 mb-5">
                                </div>


                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end row-->

    </div><!-- container -->

</div> <!-- Page content Wrapper -->

</div> <!-- content -->

<footer class="footer">
    © 2018 Annex by Mannatthemes.
</footer>

</div>
<!-- End Right content here -->

</div>
<!-- END wrapper -->