<!-- Start right Content here -->

<div class="content-page">
    <!-- Start content -->
    <div class="content">

        <!-- Top Bar Start -->
        <div class="topbar">


            <nav class="navbar navbar-light bg-primary">
                <div class="container-fluid">
                    <a class=" btn bg-success text-light ml-auto px-2" href="/admin//logout">
                        Logout
                    </a>
                </div>
            </nav>
        </div>