 <!-- LOADER -->
<div id="loader">
  <div class="position-center-center">
    <div class="ldr"></div>
  </div>
</div> 
<!--======= SUB BANNER =========-->
<section class="sub-bnr" data-stellar-background-ratio="0.5">
  
</section>
<section>
    <div class="text-center" style="height:500px ;padding-top: 136px;">
        <h3>Your order is placed</h3>
        <div> <a style="padding:10px" href="/userOrders">View orders</a><a style="padding:10px" href="/">Continue shopping</a></div>
       
    </div>
</section>