  <!-- LOADER -->
<div id="loader">
  <div class="position-center-center">
    <div class="ldr"></div>
  </div>
</div>
 <!--======= SUB BANNER =========-->
  <section class="sub-bnr" data-stellar-background-ratio="0.5">
   
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!--======= PAGES INNER =========-->
    <section class="chart-page padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- Payments Steps -->
        <div class="shopping-cart"> 
          
          <!-- SHOPPING INFORMATION -->
          <div class="cart-ship-info register">
            <div class="row"> 
              
              <!-- ESTIMATE SHIPPING & TAX -->
              <div class="col-sm-12">
                <h6>OTP VERIFICATION</h6>
                <form action="/userotp" method="post">
                  <ul class="row">
                    
                    <!-- OTP -->
                    <li class="col-md-6">
                      <label>OTP
                        <input type="number" name="OTP" value="" placeholder="">
                      </label>
                    </li>
                    <li class="col-md-12"></li>
                    <li class="col-md-6">
                      {{!-- <input type="submit" value="Verify" class="btn"> --}}
                      <button type="submit" class="btn">VERIFY</button>
                    </li>
                  </ul>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    